<h1> Fornecedor <%= @supplier.brand_name%> </h1>
<h2> <%= @supplier.corporate_name %> </h2>

<dl>
<dt> Documento: </dt>
<dd> <%= @supplier.registration_number[0..1] %>.<%= @supplier.registration_number[2..4] %>.<%= @supplier.registration_number[5..7] %>/<%= @supplier.registration_number[8..11] %>-<%= @supplier.registration_number[12..13] %> </dd>
<dt> Endereço: </dt>
<dd> <%= @supplier.full_address %> - <%= @supplier.city %> - <%= @supplier.state %> </dd>
<dt> E-mail: </dt>
<dd> <%= @supplier.email %> </dd>
</dl>

<%= link_to 'Editar', edit_supplier_url(@supplier) %>

<h2> Lista dos Modelos de Produtos Associados a <%= @supplier.brand_name%> </h2>

<% @product_models.each do |pm| %>
  <% if pm.supplier_id == @supplier.id %>
    <h3> <%= pm.name %> </h3>

    <dl>
    <dt> Dimensão: </dt>
    <dd><%= pm.height %>cm x <%= pm.width %>cm x <%= pm.depth %>cm</dd>
    <dt> SKU: </dt>
    <dd><%= pm.sku %></dd>
    </dl>
  <% end %>
<% end %>

<div>
  <%= link_to 'Voltar', root_url %>
</div>